<!DOCTYPE html>
<html>

<head>
  <!-- <link href="https://unpkg.com/@coding-blocks/motley@2.8.6/dist/dukaan/app.min.css" rel="stylesheet"> -->
  <!-- <link href="https://unpkg.com/@coding-blocks/motley@2.8.6/dist/online-cb/app.min.css" rel="stylesheet"> -->
  <!-- <link href="https://unpkg.com/@coding-blocks/motley@2.8.6/dist/account/app.min.css" rel="stylesheet"> -->
  <link href="https://unpkg.com/@coding-blocks/motley@2.8.6/dist/hb/app.min.css" rel="stylesheet">
  <!-- <link href="https://unpkg.com/@coding-blocks/motley@2.8.6/dist/hiringblocks/app.min.css" rel="stylesheet"> -->
  <!-- <link href="https://unpkg.com/@coding-blocks/motley@2.8.6/dist/coding-blocks/app.min.css" rel="stylesheet"> -->
  <link href="https://unpkg.com/@coding-blocks/motley@2.8.6/dist/app.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,800" rel="stylesheet">
  <link href="https://minio.codingblocks.com/motley/Gilroy.ttf" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
    integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="JS/bootstrap.min.js"></script>
  <script src="JS/radial-progress.js"></script>
  <script src="JS/v2.js"></script>
  <script type="text/javascript" src="JS/curtain.js"></script>

  <style>
    body {
      padding: 0 !important;
    }
    
    .container {
      width: 700px;
      height: 1000px;
      margin: 0px;
      /* background-image: url("https://minio.codingblocks.com/public/event_cert_bg.png");
      background-repeat: no-repeat;
      background-size: cover; */
      background-color: white;
      background-image: url("https://minio-trainer.codingblocks.com/trainer/nagaro-cert-bg.png");
      background-size: cover;
      padding: 100px;
    }

    
    .header-img {
        width: 50%;
    }
    .header{
      color:  #7159A7;
      font-size: 40px;
    }
    .sub-header{
      font-size: 20px;
    }
    .name {
      width: 100%;
      height: 40px;
      font-size: 20px;
      background: linear-gradient(90deg, #FFFFFF -20.64%, #A5DCCC 100%);
    }
    .circle {
      position: absolute;
      right: -20px;
      width: 40px;
      height: 40px;
      z-index: 100;
      top: 0;
      background: linear-gradient(180deg, #369E96 0%, #383285 100%);
      transform: rotate(-90deg);
      border-radius: 50%;  
    }
    .text {
      text-align: justify;
      margin-bottom: 70px;
    }
    .sign {
        width: 45%;
    }
    .logo {
        width: 30%;
        margin-left: -15px;
    }
  </style>
</head>

<body>
<div>
  <div class="container">
    <img class="header-img mb-5" src="https://minio-trainer.codingblocks.com/trainer/nagaro-cert-header.png">
    <h3 class="header mb-2"> Recognition of Growth</h3>
    <div class="sub-header mb-4">This certificate is presented to</div>
    <div class="position-relative">
      <div class="name p-3">{{name}}</div>
      <div class="circle"></div>
    </div>
    <p class="text font-mds mt-5">
      You successfully completed Nagarro’s internship from
      July to August 2022. You started smart!
      <br>
      <br>
      You got an insider’s view into our work processes, earned
      meaningful work experience, and grew your skills and
      knowledge. You took a significant step in your future career
      by starting smart!
      <br>
      <br>
      We appreciate your contribution to Nagarro. Our digital
      engineering excellence is made better because of your dedication.
    </p>
    
    <div class="d-flex my-5">
        <div>
            <img class="sign" src="https://minio-trainer.codingblocks.com/trainer/manmohan-sign-black.png">
            <div class="bold">
                Manmohan Gupta
            </div>
            <div>Co-Founder, Nagarro</div>
        </div>
        <div>
            <img class="sign" src="https://minio-trainer.codingblocks.com/trainer/swati-sign-black.png">
            <div class="bold">
                Swati Yadav
            </div>
            <div>Director - People Enablement, Nagarro</div>
        </div>
    </div>
    <div class="logo">
        <img src="https://minio-trainer.codingblocks.com/trainer/nagarro-logo.png">
    </div>
  </div>
 
</div>
   
</div>
</body>

</html>